<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
</head>
<body>    
    {{>navbar}}

    <div class="container-fluid mainHeader">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 about-header-left">
                        <figure>
                            <img src="./images/dp.png" alt="" class="img-fluid dp">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 about-header-right">
                        <p>Welcome to My Weather App</p>
                        <h1>I'm a <span class="textColor">Mern Stack Developer</span></h1>
                        <a href="https://www.linkedin.com/in/souvik-pal-4b4138171/"><button>About Me</button></a>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
{{>footLinks}}
</html>