<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid mainHeader">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto">
                <form class="tempForm">
                    <input type="text" id="cityName" placeholder="Enter City Name" autocomplete="off">
                    <input type="submit" value="Search" id="submitBtn" onsubmit="return false">
                </form>
            </div>

            <div class="tempInfo mx-auto">
                <div class="topLayer">
                    <p class="day"></p>
                    <p class="date"></p>
                </div>
                <div class="mainLayer">
                    <p id="city">Get Output Here</p>
                    <div class="middleLayer dataHide">
                        <p id="temp"><span class="temp">0</span> &#8451;</p>
                        <p class="wicon"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="./js/main.js"></script>
</body>
{{>footLinks}}
</html>